body {
    overflow-x: hidden;
}

.row {
    height: calc(100% - 56px);
}

#sidebar {
    display: inline-block;
    width: 280px;
    height: calc(100% - 56px);
}

#sidebar i {
    margin-right: 10px;
}

#main {
    display: inline-block;
    width: calc(100% - 285px);
    padding-right: 5px;
    position: absolute;
    top: 61px;
    left: 285px;
}

.user-img {
    height: 48px;
    width: auto;
}

.user-badges {
    text-align: right;
}

#header {
    padding: 10px;
    text-align: center;
}

.tab-pane {
    background-color: white;
    padding: 10px;
}